@charset "UTF-8";
.nav-btn {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px 20px;
  border-radius: 22px;
  color: #43B5E4;
  background-color: #203E65;
  height: 36px;
  font-size: 18px; }
  .nav-btn:hover {
    color: #203E65;
    background-color: #43B5E4; }

.circle-btn {
  position: absolute;
  background: rgba(31, 43, 71, 0.44);
  backdrop-filter: blur(11px);
  line-height: 118%;
  letter-spacing: 0.42em;
  transition: all .3s ease;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 155px;
  border-radius: 50%;
  height: 155px;
  font-size: 20px;
  font-weight: 500;
  color: white; }
  .circle-btn:hover {
    background: rgba(0, 196, 208, 0.44); }
  .circle-btn::before {
    position: absolute;
    content: '';
    width: 180px;
    height: 180px;
    border: 1px solid white;
    border-radius: 50%; }
  .circle-btn::after {
    content: url("../img/main/arrow-down.svg");
    position: absolute;
    right: 50%;
    bottom: -50px;
    transform: translateX(50%); }
  @media (max-width: 1700px) {
    .circle-btn {
      bottom: unset;
      top: 35%; } }

.moving-btn {
  letter-spacing: 0.475em;
  position: relative;
  transition: all .3s ease;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
  line-height: 118%;
  color: white; }
  .moving-btn::before {
    content: url("../img/main/arrow.svg");
    right: -65px;
    top: -2px;
    position: absolute;
    transition: all .3s ease; }
  .moving-btn::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease; }
  .moving-btn:hover {
    padding-left: 10px; }
    .moving-btn:hover::before {
      right: -75px; }

.map-box {
  padding: 0 1.688rem 0.875rem 1.688rem;
  position: relative;
  height: 100%;
  min-height: 10rem;
  display: grid;
  align-items: flex-end; }
  .map-box::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 2rem;
    width: 100%;
    border: 1px solid #969CA0;
    border-radius: 1.25rem;
    z-index: -1; }
  .map-box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative; }
    .map-box__icon::before {
      position: absolute;
      content: "";
      background-color: white;
      padding: 1rem 3rem 0 3rem;
      height: 100%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: -1; }
  .map-box__decs {
    margin: 1rem;
    text-align: center;
    color: #969CA0;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem; }
    .map-box__decs span {
      display: block;
      margin-top: 0.563rem;
      font-size: 20px;
      font-weight: 700; }
  @media (max-width: 1200px) {
    .map-box {
      padding: 0 1rem 0.875rem 1rem; } }

.destkop-header {
  padding: 60px 0 30px 0;
  position: relative;
  z-index: 102; }
  .destkop-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    top: 0; }
  .destkop-header .header-left {
    display: flex;
    align-items: center;
    flex-direction: row; }
    .destkop-header .header-left .menu-btn {
      display: inline-flex;
      align-items: center;
      padding: 8px 14px;
      border: 1px solid #203E65;
      border-radius: 22px;
      color: #203E65;
      margin: 0 30px 0 0;
      height: 36px;
      cursor: pointer;
      text-decoration: none; }
      .destkop-header .header-left .menu-btn img {
        max-width: 100%;
        margin-right: 10px; }
  .destkop-header .logo-area {
    display: block;
    text-align: center; }
    .destkop-header .logo-area img {
      max-width: 100%; }
  .destkop-header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .destkop-header .header-right ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none; }
      .destkop-header .header-right ul li {
        margin: 0 0 0 25px; }
        .destkop-header .header-right ul li a {
          text-decoration: none; }
          .destkop-header .header-right ul li a i {
            color: #203E65;
            width: 27px;
            height: 27px;
            font-size: 27px; }
    .destkop-header .header-right .whatsapp {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 41px;
      margin: 0 0 0 30px;
      border-radius: 50%;
      background-color: #203E65;
      height: 41px; }
    .destkop-header .header-right .phone-care {
      font-size: 18px;
      font-weight: 700;
      color: #203E65;
      margin: 10px 0 0 30px;
      letter-spacing: 0.26em;
      text-decoration: none; }
  @media (max-width: 992px) {
    .destkop-header {
      display: none; } }

.mobile-header {
  position: relative; }
  .mobile-header #for-mob-row {
    padding: 20px 0px; }
    .mobile-header #for-mob-row .mob-logo {
      max-width: 180px; }
    .mobile-header #for-mob-row .mob-nav-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .mobile-header #for-mob-row .mob-nav-right a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        width: 100%;
        font-size: 18px;
        text-decoration: none;
        text-decoration: none;
        text-transform: uppercase; }
        .mobile-header #for-mob-row .mob-nav-right a img {
          margin: 0 15px 0 0; }
    @media (max-width: 992px) {
      .mobile-header #for-mob-row {
        display: flex; } }
    @media (min-width: 992px) {
      .mobile-header #for-mob-row {
        display: none; } }

.sidebar-bg {
  background-color: #283037;
  opacity: 0.5;
  position: fixed;
  left: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 99999; }

.sidebar {
  position: fixed;
  left: -100%;
  width: 50%;
  z-index: 99999;
  transition: all .3s ease-in-out; }
  .sidebar .modal-dialog {
    max-width: 800px;
    height: auto;
    border-top-right-radius: 70px; }
    .sidebar .modal-dialog .modal-content {
      border-top-right-radius: 70px;
      padding: 90px 120px;
      background-size: cover; }
      .sidebar .modal-dialog .modal-content::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 0;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #0065B8 0%, #203E65 100%);
        opacity: 0.93;
        border-top-right-radius: 69px; }
      .sidebar .modal-dialog .modal-content::after {
        position: absolute;
        content: url(../img/main/bg-dark.svg);
        bottom: 0;
        left: 0; }
      .sidebar .modal-dialog .modal-content .btn-close {
        position: absolute;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);
        transform: rotate(45deg);
        border: 1px solid #43B5E4;
        width: 100px;
        height: 100px;
        background: none;
        border-radius: 50%;
        color: white;
        font-size: 24px;
        cursor: pointer; }
      .sidebar .modal-dialog .modal-content .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem; }
        .sidebar .modal-dialog .modal-content .modal-body .modal-menu {
          font-size: 38px;
          font-weight: 700;
          color: white; }
          .sidebar .modal-dialog .modal-content .modal-body .modal-menu li {
            margin: 0 0 20px 0;
            position: relative;
            list-style: none; }
            .sidebar .modal-dialog .modal-content .modal-body .modal-menu li a {
              text-decoration: none;
              color: white;
              transition: all .25s ease-in-out; }
              .sidebar .modal-dialog .modal-content .modal-body .modal-menu li a:hover {
                color: white;
                padding-left: 10px; }
            .sidebar .modal-dialog .modal-content .modal-body .modal-menu li::before {
              content: "0" counter(chapter);
              counter-increment: chapter;
              color: #A4CAEB;
              font-size: 16px;
              position: absolute;
              transform: translateY(-50%) rotate(-90deg);
              left: -25px;
              top: 65%; }
            .sidebar .modal-dialog .modal-content .modal-body .modal-menu li::after {
              position: absolute;
              content: '';
              left: -18px;
              top: 6px;
              height: 15px;
              width: 2px;
              background: #43AAFF; }
        .sidebar .modal-dialog .modal-content .modal-body .bottom-info {
          display: flex;
          align-items: center;
          margin-top: 30px; }
          .sidebar .modal-dialog .modal-content .modal-body .bottom-info a {
            text-decoration: none;
            display: inline-block;
            padding: 15px 30px;
            margin-right: 30px;
            color: white;
            border: 1px solid white;
            border-radius: 32px 25px 0 25px;
            transition: all .3s ease-in-out; }
            .sidebar .modal-dialog .modal-content .modal-body .bottom-info a:hover {
              opacity: 0.7; }
        .sidebar .modal-dialog .modal-content .modal-body .social-media {
          display: flex;
          align-items: center;
          list-style: none;
          margin-top: 60px; }
          .sidebar .modal-dialog .modal-content .modal-body .social-media li {
            margin-right: 25px; }
            .sidebar .modal-dialog .modal-content .modal-body .social-media li a {
              transition: all .3s ease-in-out;
              color: white; }
              .sidebar .modal-dialog .modal-content .modal-body .social-media li a:hover {
                opacity: 0.7; }
              .sidebar .modal-dialog .modal-content .modal-body .social-media li a i {
                font-size: 27px; }
  @media (max-width: 992px) {
    .sidebar {
      display: none; } }

.sidebar-active {
  left: 0 !important; }
  @media (max-width: 992px) {
    .sidebar-active {
      display: none; } }

.sidebar-mobile {
  position: absolute;
  opacity: 0;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url("../img/aboutUs/form-arkaplan_1.png");
  transition: all 0.3s ease-in-out; }
  .sidebar-mobile .mobile-body {
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 87%;
    justify-content: space-between; }
  .sidebar-mobile .sidebar-mobile-header {
    padding: 30px;
    display: flex;
    justify-content: flex-end; }
    .sidebar-mobile .sidebar-mobile-header button {
      outline: none;
      background: none;
      border: none;
      color: white; }
  .sidebar-mobile .mobil-menu {
    padding: 0 0 0 0px;
    margin: 0;
    list-style: none; }
    .sidebar-mobile .mobil-menu li {
      margin: 0 0 14px 0; }
      .sidebar-mobile .mobil-menu li a {
        text-decoration: none;
        color: white;
        transition: all .3s ease-in-out;
        font-size: 18px; }
        .sidebar-mobile .mobil-menu li a:hover {
          color: #203E65;
          opacity: 0.9; }
  .sidebar-mobile .bottom-area .bottom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .sidebar-mobile .bottom-area .bottom-logo img {
      max-width: 139px; }
  .sidebar-mobile .bottom-area .copyright {
    color: white;
    text-align: center;
    margin: 15px 0 0 0; }
  .sidebar-mobile .bottom-area .mobile-social-media {
    padding: 0;
    margin: 15px 0 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .sidebar-mobile .bottom-area .mobile-social-media li:nth-child(1) {
      margin: 0 15px 0 0; }
    .sidebar-mobile .bottom-area .mobile-social-media li a {
      text-decoration: none; }
      .sidebar-mobile .bottom-area .mobile-social-media li a i {
        color: white; }
  @media (min-width: 992px) {
    .sidebar-mobile {
      display: none; } }

.sidebar-mobile-active {
  left: 0 !important;
  opacity: 1; }

#index-one {
  position: relative;
  min-height: 100vh;
  z-index: 101; }
  #index-one .index-one-content {
    position: absolute;
    top: 10%;
    width: 45%; }
    #index-one .index-one-content h3 {
      font-size: 44px;
      font-weight: 400;
      line-height: 1;
      color: white;
      margin: 0 0 4px 0; }
      @media (max-width: 1700px) {
        #index-one .index-one-content h3 {
          font-size: 28px; } }
    #index-one .index-one-content h1 {
      font-size: 97px;
      font-weight: bold;
      line-height: 97%;
      color: white;
      margin: 0 0 25px 0; }
      @media (max-width: 1700px) {
        #index-one .index-one-content h1 {
          font-size: 60px; } }
    #index-one .index-one-content .content-desc p {
      font-size: 20px;
      line-height: 118%;
      color: white;
      margin: 0 0 50px 0; }
  #index-one .index-content-btn {
    right: 5%; }
    @media (min-width: 1920px) {
      #index-one .index-content-btn {
        top: 30%; } }
  #index-one .index-one-bg {
    position: absolute;
    top: -190px;
    z-index: -1; }
    #index-one .index-one-bg img {
      max-width: 100%; }
      @media (min-width: 1920px) {
        #index-one .index-one-bg img {
          width: 1920px;
          object-fit: contain; } }
  @media (max-width: 992px) {
    #index-one {
      display: none; } }

@media (min-width: 992px) {
  #index-one-mobile {
    display: none; } }

@media (max-width: 992px) {
  #index-one-mobile {
    display: block; }
    #index-one-mobile a img {
      width: 100%;
      min-width: 180px; } }

#life-component {
  position: relative;
  padding-top: 180px;
  margin-top: -380px;
  z-index: 99; }
  #life-component::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #C4F0F1 0%, rgba(196, 196, 196, 0) 100%);
    top: 0;
    z-index: -99999; }
  #life-component .life-component-left img {
    max-width: 100%; }
  #life-component .right-component {
    position: relative; }
    #life-component .right-component .life-component-right {
      position: absolute;
      right: 35%;
      width: 68%;
      bottom: 4%;
      text-align: center; }
      #life-component .right-component .life-component-right .first-right-desc {
        font-style: italic;
        font-size: 34px;
        font-weight: bold;
        line-height: 118%;
        color: #D2A646;
        margin: 0 0 20px 0;
        text-align: center; }
      #life-component .right-component .life-component-right .second-right-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #283037;
        margin: 0 0 25px 0;
        text-align: center; }
      #life-component .right-component .life-component-right .life-component-btn {
        color: #283037; }
        #life-component .right-component .life-component-right .life-component-btn::before {
          content: url("../img/main/arrow-black.svg"); }
        #life-component .right-component .life-component-right .life-component-btn::after {
          border: 1px solid #283037 !important; }
  @media (max-width: 992px) {
    #life-component {
      margin-top: 0px;
      padding-top: 0px; }
      #life-component::before {
        background-color: white !important;
        background: unset; }
      #life-component .right-component .life-component-right {
        position: unset;
        width: 100%; }
        #life-component .right-component .life-component-right .life-component-btn {
          display: none; } }

#location-area {
  position: relative; }
  @media (max-width: 992px) {
    #location-area .location-bg {
      display: none; } }
  #location-area .location-bg img {
    max-width: 100%;
    width: 100%; }
  #location-area .location-mobile-bg {
    display: none; }
    @media (max-width: 992px) {
      #location-area .location-mobile-bg {
        display: block; }
        #location-area .location-mobile-bg img {
          width: 100%; } }
  #location-area .location-content {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    text-align: center; }
    #location-area .location-content .location-sub-title {
      font-size: 24px;
      line-height: 118%;
      color: #203E65;
      margin: 40px 0 0 0;
      text-transform: uppercase;
      translate: 80px, 80px;
      letter-spacing: 0.57em;
      line-height: 118%; }
    #location-area .location-content .location-title-area {
      font-size: 240px;
      font-family: "Allison" , sans-serif; }
    @media (max-width: 992px) {
      #location-area .location-content {
        width: 100%;
        left: 0;
        top: unset;
        bottom: 0; }
        #location-area .location-content .location-sub-title {
          display: none; }
        #location-area .location-content .location-title-area {
          font-size: 80px; }
        #location-area .location-content .location-desc {
          width: 100%;
          transform: unset; }
        #location-area .location-content .location-mobile-bg {
          display: block; }
          #location-area .location-content .location-mobile-bg img {
            width: 100%; } }
  #location-area .location-desc {
    width: 70%;
    font-size: 20px;
    color: #203E65;
    transform: translateX(20%); }
  #location-area .location-btn {
    position: absolute;
    font-size: 16px !important;
    top: unset  !important;
    right: 20% !important;
    bottom: 30% !important; }
    #location-area .location-btn::after {
      content: url("../img/main/right-ok.svg") !important;
      bottom: 40px !important; }
    @media (max-width: 992px) {
      #location-area .location-btn {
        display: none; } }

#location-map .location-map--wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1.5em; }
  #location-map .location-map--wrapper .location-map__left {
    display: grid;
    gap: 1rem; }
  #location-map .location-map--wrapper .location-map__center {
    overflow: hidden;
    border-radius: 3.25rem;
    display: block;
    margin-top: 1rem; }
    #location-map .location-map--wrapper .location-map__center iframe {
      width: 100%;
      height: 100%; }
    @media (max-width: 1200px) {
      #location-map .location-map--wrapper .location-map__center {
        display: none; } }
  #location-map .location-map--wrapper .location-map__right {
    display: grid;
    gap: 1rem; }
  @media (max-width: 1200px) {
    #location-map .location-map--wrapper {
      gap: 4.5em; } }

.about-us {
  padding: 200px 0; }
  .about-us .about-us__wrapper {
    display: grid;
    grid-template-columns: calc(55%) calc(45% - 10px);
    gap: 10px;
    align-items: center; }
    @media (max-width: 1200px) {
      .about-us .about-us__wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto; } }
    .about-us .about-us__wrapper .about-us__left {
      position: relative; }
      .about-us .about-us__wrapper .about-us__left::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        height: 124px;
        width: 190px;
        background-size: contain;
        z-index: 2;
        background-repeat: no-repeat; }
      @media (max-width: 992px) {
        .about-us .about-us__wrapper .about-us__left {
          margin-bottom: 48px; }
          .about-us .about-us__wrapper .about-us__left::before {
            top: unset;
            bottom: 0;
            left: 50%;
            -webkit-transform: translate(-50%, 65%);
            transform: translate(-50%, 65%); } }
    .about-us .about-us__wrapper .about-us__right {
      position: relative;
      padding-right: 160px;
      padding-top: 25px; }
      .about-us .about-us__wrapper .about-us__right::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100vw;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #0d1520;
        border-radius: 0px 190px 190px 0px;
        z-index: -1; }
      @media (max-width: 992px) {
        .about-us .about-us__wrapper .about-us__right::before {
          background-color: unset; } }
      .about-us .about-us__wrapper .about-us__right .about-us-right-swiper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        gap: 14px; }
        .about-us .about-us__wrapper .about-us__right .about-us-right-swiper .swiper-slide .title {
          font-size: 24px;
          color: #43aaff;
          line-height: 28px;
          max-width: 340px; }
          .about-us .about-us__wrapper .about-us__right .about-us-right-swiper .swiper-slide .title b {
            display: block;
            font-size: 57px;
            font-weight: 700;
            line-height: 67px; }
        .about-us .about-us__wrapper .about-us__right .about-us-right-swiper .swiper-slide .text {
          color: white; }
      .about-us .about-us__wrapper .about-us__right .about-us__right__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 22px;
        position: relative; }
        .about-us .about-us__wrapper .about-us__right .about-us__right__nav .btn-group {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 22px; }
          .about-us .about-us__wrapper .about-us__right .about-us__right__nav .btn-group .btn {
            background: none;
            cursor: pointer;
            outline: none; }
          .about-us .about-us__wrapper .about-us__right .about-us__right__nav .btn-group .btn--next {
            margin-top: 75%; }
          @media (max-width: 1200px) {
            .about-us .about-us__wrapper .about-us__right .about-us__right__nav .btn-group {
              margin-right: unset; } }
        .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction {
          position: absolute;
          right: -50px;
          top: 50%;
          left: unset;
          font-size: 28px;
          color: #43aaff;
          width: auto; }
          .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction .swiper-pagination-current {
            font-size: 85px;
            color: #43aaff; }
            .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction .swiper-pagination-current::before {
              content: "0"; }
          .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction .swiper-pagination-total {
            font-size: 36px;
            line-height: 54px;
            color: #43aaff; }
            .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction .swiper-pagination-total::before {
              content: "0"; }
        @media (max-width: 992px) {
          .about-us .about-us__wrapper .about-us__right .about-us__right__nav {
            flex-direction: column;
            gap: 28px; }
            .about-us .about-us__wrapper .about-us__right .about-us__right__nav .about-us-fraction {
              right: 5%; } }
  @media (max-width: 992px) {
    .about-us {
      display: none; } }

#picture-gallery {
  padding: 200px 0px;
  position: relative;
  overflow: hidden; }
  #picture-gallery .gallery-slider {
    position: relative;
    padding: 30px 0px; }
    #picture-gallery .gallery-slider .swiper-slide .gallery-box {
      width: 100%;
      transition: all 3s ease; }
      #picture-gallery .gallery-slider .swiper-slide .gallery-box img {
        width: 100%;
        transition: all 1s ease; }
    #picture-gallery .gallery-slider .swiper-slide-active .gallery-box img {
      border-radius: 0 30px 30px 0px; }
    #picture-gallery .gallery-slider .swiper-slide-duplicate-prev .gallery-box img {
      border-radius: 0 30px 30px 0px; }
    #picture-gallery .gallery-slider .swiper-slide-next .gallery-box {
      transform: scale(1.1); }
      #picture-gallery .gallery-slider .swiper-slide-next .gallery-box img {
        border-radius: 30px; }
    #picture-gallery .gallery-slider::before {
      position: absolute;
      content: "Hayatı Keşfet";
      z-index: 3;
      font-size: 234px;
      line-height: 118%;
      font-family: 'Allison' ,sans-serif;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      color: white;
      pointer-events: none;
      transform: translateY(-30px); }
    @media (max-width: 992px) {
      #picture-gallery .gallery-slider::before {
        font-size: 62px; }
      #picture-gallery .gallery-slider .swiper-slide img {
        border-radius: 30px; }
      #picture-gallery .gallery-slider .swiper-slide-next .gallery-box {
        transform: scale(1); }
      #picture-gallery .gallery-slider .swiper-slide-active .gallery-box img {
        border-radius: 30px; }
      #picture-gallery .gallery-slider .swiper-slide-duplicate-prev .gallery-box img {
        border-radius: 30px; } }
  #picture-gallery .gallery-button-prev {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #203E65;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    top: 50%;
    z-index: 9;
    left: 100px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .3s ease; }
    #picture-gallery .gallery-button-prev:hover {
      opacity: 0.8; }
    @media (max-width: 992px) {
      #picture-gallery .gallery-button-prev {
        left: 0%;
        width: 40px;
        height: 40px; }
        #picture-gallery .gallery-button-prev img {
          width: 100%; } }
  #picture-gallery .gallery-button-next {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #203E65;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    top: 50%;
    z-index: 9;
    right: 100px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .3s ease; }
    #picture-gallery .gallery-button-next:hvoer {
      opacity: 0.8; }
    @media (max-width: 992px) {
      #picture-gallery .gallery-button-next {
        left: 89%;
        width: 40px;
        height: 40px; }
        #picture-gallery .gallery-button-next img {
          width: 100%; } }
  #picture-gallery .all-btn {
    left: 45%  !important;
    bottom: 80px !important;
    top: unset !important;
    z-index: 9;
    background-color: #203E65 !important; }
    #picture-gallery .all-btn:hover {
      background-color: unset !important;
      opacity: 0.8 !important; }
  @media (max-width: 992px) {
    #picture-gallery {
      padding: 50px 15px 150px 15px; }
      #picture-gallery .all-btn {
        width: 150px  !important;
        height: 150px !important;
        left: 29% !important;
        bottom: 54px !important; } }
  @media (max-width: 1400px) {
    #picture-gallery {
      padding: 100px 0px; } }

footer .footer-up {
  background-color: #f7fafc;
  padding: 60px 0px 50px 0px; }
  footer .footer-up .footer__top--wrapper {
    padding: 15px 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 29px;
    background-image: url(../img/main/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain; }
    footer .footer-up .footer__top--wrapper .social-side {
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .footer-up .footer__top--wrapper .social-side li {
        margin-right: 25px;
        list-style: none; }
        footer .footer-up .footer__top--wrapper .social-side li:last-child {
          margin: 0; }
        footer .footer-up .footer__top--wrapper .social-side li a {
          color: #203E65; }
          footer .footer-up .footer__top--wrapper .social-side li a i {
            font-size: 27px; }
    footer .footer-up .footer__top--wrapper .phone-link {
      color: #8FA1B9;
      font-weight: 700;
      font-size: 18px;
      line-height: 118%;
      letter-spacing: 0.26em;
      text-decoration: none; }

footer .footer-bottom .footer__bottom--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 15px 0px; }
  footer .footer-bottom .footer__bottom--wrapper .footer-bottom-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 100px;
    list-style: none; }
    footer .footer-bottom .footer__bottom--wrapper .footer-bottom-menu li {
      margin-left: 50px; }
      footer .footer-bottom .footer__bottom--wrapper .footer-bottom-menu li a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: #98A3AC; }
  footer .footer-bottom .footer__bottom--wrapper .ctp {
    display: flex;
    gap: 13px;
    color: #98a3ac;
    font-size: 14px;
    text-decoration: none; }

@media (max-width: 992px) {
  footer {
    display: none; } }

#about-one {
  position: relative;
  margin-top: -157px; }
  #about-one .about-bg img {
    width: 100%;
    object-fit: contain; }
  #about-one .about-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    #about-one .about-area h1 {
      font-size: 46px;
      font-weight: 700;
      line-height: 118%;
      color: #203E65;
      margin: 15px; }
    #about-one .about-area ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 14px;
      color: #70869A;
      padding: 0;
      margin: 0;
      list-style: none; }
      #about-one .about-area ul li {
        margin-right: 40px; }
        #about-one .about-area ul li a {
          position: relative;
          text-decoration: none;
          color: #70869A;
          transition: all 0.1s ease-in-out; }
          #about-one .about-area ul li a::before {
            position: absolute;
            content: url(../img/aboutUs/gri-ok.svg);
            right: -30px; }
          #about-one .about-area ul li a:hover {
            color: #203E65; }

#about-two {
  padding: 30px 0 140px 0; }
  #about-two .about-two-page-content {
    line-height: 1.6;
    word-wrap: break-word; }
    #about-two .about-two-page-content::before {
      content: "";
      clear: both;
      display: table; }
    #about-two .about-two-page-content p {
      color: #283037;
      line-height: 1.66;
      margin: 0;
      margin-bottom: 10px; }
      #about-two .about-two-page-content p span {
        font-size: 12.0pt;
        color: #283037; }
    #about-two .about-two-page-content::after {
      content: "";
      clear: both;
      display: table; }
  #about-two .about-two-slogan {
    font-size: 24px;
    font-weight: 700;
    padding: 50px;
    background-color: #F5F7F9;
    text-align: center;
    border-radius: 42px; }
  #about-two .about-two-picture {
    position: sticky;
    top: 20px; }
    #about-two .about-two-picture img {
      max-width: 100%; }

#roomplans-three {
  padding: 80px 0 200px 0; }
  #roomplans-three .content-wrapper {
    line-height: 1.6;
    word-wrap: break-word;
    margin-bottom: 60px; }
    #roomplans-three .content-wrapper::before {
      content: "";
      clear: both;
      display: table; }
    #roomplans-three .content-wrapper::after {
      content: "";
      clear: both;
      display: table; }
    #roomplans-three .content-wrapper p {
      line-height: 1.66;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 400; }
      #roomplans-three .content-wrapper p a {
        text-decoration: none;
        color: #203E65; }
      #roomplans-three .content-wrapper p:last-child {
        font-size: 14pt; }
  #roomplans-three .tab {
    overflow: hidden; }
    #roomplans-three .tab ul {
      list-style: none; }
      #roomplans-three .tab ul .room-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 0 20px 0;
        border: 1px solid #70869A;
        border-radius: 23px;
        color: #70869A;
        width: 160px;
        height: 160px;
        max-width: 100%;
        font-size: 18px;
        line-height: 118%;
        padding: 50px 40px;
        text-align: center;
        transition: all .4s ease-in-out; }
        #roomplans-three .tab ul .room-btn:hover {
          cursor: pointer; }
      #roomplans-three .tab ul .room-btn-active {
        color: white;
        background-color: #203E65; }
  #roomplans-three .tabcontent {
    display: none;
    padding: 40px;
    background-color: #DFE8EF;
    transition: .3s ease-in-out;
    border-radius: 48px;
    position: relative; }
    #roomplans-three .tabcontent .tab-item .left-side {
      position: relative;
      z-index: 5; }
      #roomplans-three .tabcontent .tab-item .left-side img {
        max-width: 100%; }
    #roomplans-three .tabcontent .tab-item .roomplans-detail {
      color: #203E65;
      position: relative;
      z-index: 5; }
      #roomplans-three .tabcontent .tab-item .roomplans-detail .name {
        font-size: 19px; }
      #roomplans-three .tabcontent .tab-item .roomplans-detail .size {
        font-size: 17px; }
      #roomplans-three .tabcontent .tab-item .roomplans-detail .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 0 10px 0;
        margin: 0 0 20px 0;
        border-bottom: solid 2px #203E65; }
        #roomplans-three .tabcontent .tab-item .roomplans-detail .title .number {
          font-size: 36px; }
        #roomplans-three .tabcontent .tab-item .roomplans-detail .title .size {
          font-size: 18px; }
      #roomplans-three .tabcontent .tab-item .roomplans-detail ul {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        list-style: none; }
        #roomplans-three .tabcontent .tab-item .roomplans-detail ul li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          margin: 0 0 15px 0; }
      #roomplans-three .tabcontent .tab-item .roomplans-detail .end-size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-weight: 700; }
    #roomplans-three .tabcontent .tab-item .place-size {
      position: absolute;
      bottom: -47px;
      right: -39%;
      color: #203E65;
      font-weight: 600;
      font-size: 146px;
      z-index: 5; }
  #roomplans-three .active-tab {
    display: block !important; }

#premium-one .premium-picture {
  transform: translateX(-100px); }
  #premium-one .premium-picture img {
    max-width: 100%;
    width: 100%; }

#premium-one .premium-content {
  padding-top: 40px; }
  #premium-one .premium-content .premium-title {
    color: #283037;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px; }
  #premium-one .premium-content .premium-desc {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #283037; }
    #premium-one .premium-content .premium-desc::before {
      content: "";
      clear: both;
      display: table; }
    #premium-one .premium-content .premium-desc::after {
      content: "";
      clear: both;
      display: table; }
    #premium-one .premium-content .premium-desc p {
      margin: 0;
      line-height: 1.66;
      margin-bottom: 10px; }

#premium-two .premium-two-title {
  font-size: 36px;
  font-weight: bold;
  color: #283037;
  margin: 0 0 70px 0;
  text-align: center; }

#premium-two .project-box {
  width: 90%;
  background: #43AAFF;
  border-radius: 19px;
  margin: 0 0 30px 0;
  padding: 30px 7px;
  height: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  #premium-two .project-box .picture-area {
    transform: translateX(-25px);
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 16px; }
    #premium-two .project-box .picture-area:hover {
      transform: translateX(0); }
    #premium-two .project-box .picture-area img {
      max-width: 100%; }
    @media (max-width: 992px) {
      #premium-two .project-box .picture-area {
        transform: translateX(0); } }
  #premium-two .project-box .project-title {
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px 0 12px 0;
    padding: 0px 20px;
    text-align: center; }
  #premium-two .project-box .project-city {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.58);
    padding: 0 20px;
    text-align: center; }

#contact {
  padding: 80px 0px; }
  #contact .contact-title-area p {
    line-height: 1.66;
    margin: 0 0 10px 0;
    text-align: center; }
    #contact .contact-title-area p span {
      font-size: 18pt; }
  #contact .contact-title-area::before {
    content: "";
    clear: both;
    display: table; }
  #contact .contact-title-area::after {
    content: "";
    clear: both;
    display: table; }
  #contact .contact-box-area {
    margin-top: 80px;
    display: flex;
    position: relative; }
    #contact .contact-box-area .left-infos {
      width: 50%;
      padding: 120px 80px 100px 80px;
      border-radius: 0 0 0 107px;
      color: #D7DFE7;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-color: #1B2F49;
      position: relative; }
      #contact .contact-box-area .left-infos .top {
        margin: 0 0 65px 0; }
        #contact .contact-box-area .left-infos .top .contact-title {
          font-size: 39px;
          font-weight: 600;
          margin: 0 0 15px 0; }
        #contact .contact-box-area .left-infos .top ul {
          padding: 0;
          margin: 0;
          list-style: none;
          font-size: 18px; }
          #contact .contact-box-area .left-infos .top ul li {
            margin: 0 0 20px 0; }
            #contact .contact-box-area .left-infos .top ul li a {
              text-decoration: none;
              transition: all .3s ease-in-out;
              color: inherit; }
              #contact .contact-box-area .left-infos .top ul li a:hover {
                color: #203E65; }
            #contact .contact-box-area .left-infos .top ul li:nth-child(2) {
              font-size: 28px;
              font-weight: 600; }
      #contact .contact-box-area .left-infos .bottom {
        display: flex;
        align-items: center; }
        #contact .contact-box-area .left-infos .bottom .contact-social-media {
          padding: 0;
          margin: 0 40px 0 0;
          list-style: none;
          font-size: 18px;
          display: flex;
          align-items: center; }
          #contact .contact-box-area .left-infos .bottom .contact-social-media li {
            margin: 0 25px 0 0; }
            #contact .contact-box-area .left-infos .bottom .contact-social-media li a {
              text-decoration: none;
              color: inherit; }
              #contact .contact-box-area .left-infos .bottom .contact-social-media li a i {
                font-size: 27px; }
        #contact .contact-box-area .left-infos .bottom .contact-wp {
          text-decoration: none;
          color: inherit;
          display: inline-block;
          padding: 10px 25px;
          border: 1px solid #5F6A72;
          border-radius: 32px 0px 25.5px 25px; }
          #contact .contact-box-area .left-infos .bottom .contact-wp img {
            max-width: 100%;
            margin-right: 10px; }
    #contact .contact-box-area .maps {
      width: 50%;
      border-top-right-radius: 107px; }
      #contact .contact-box-area .maps iframe {
        width: 100%;
        height: 600px;
        margin: 0;
        padding: 0;
        display: block;
        border-top-right-radius: 107px; }
    #contact .contact-box-area .map-btn {
      left: 44% !important;
      font-size: 18px !important;
      width: 177px;
      height: 177px; }
      #contact .contact-box-area .map-btn:hover {
        background-color: unset !important;
        color: white !important;
        opacity: 0.9 !important; }
      #contact .contact-box-area .map-btn::before {
        width: 190px !important;
        height: 190px !important; }

#contact-form-area {
  background-image: url(../img/aboutUs/contact-bg.png);
  padding: 500px 0px 140px 0px;
  margin-top: -400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #contact-form-area .contact-form-content {
    color: white; }
    #contact-form-area .contact-form-content .title {
      position: relative;
      font-size: 32px;
      font-weight: 700;
      line-height: 54px;
      margin: 0 0 10px 0;
      padding: 0 0 5px 0; }
      #contact-form-area .contact-form-content .title::before {
        position: absolute;
        content: "";
        width: 70px;
        height: 3px;
        background-color: #43AAFF;
        bottom: 0;
        left: 0; }
    #contact-form-area .contact-form-content .description {
      color: #7D8E9D; }
  #contact-form-area .offset-lg-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
    #contact-form-area .offset-lg-1 .form-item {
      border: none;
      border-bottom: solid 1px white;
      background: none;
      padding: 10px 0px;
      color: white;
      width: 100%;
      margin-bottom: 50px;
      font-size: 15px;
      outline: none; }
      #contact-form-area .offset-lg-1 .form-item::placeholder {
        color: white; }
    #contact-form-area .offset-lg-1 .send-btn {
      position: relative;
      cursor: pointer;
      transition: all .3s ease-in-out;
      outline: none;
      width: 170px;
      margin: 30px 0 0 0;
      padding: 20px 50px;
      border-radius: 31px;
      color: white;
      background-color: #43B5E4;
      font-size: 18px; }
      #contact-form-area .offset-lg-1 .send-btn:hover {
        background-color: #203E65; }
      #contact-form-area .offset-lg-1 .send-btn img {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%); }
    @media (min-width: 992px) {
      #contact-form-area .offset-lg-1 {
        margin-left: 8.3%; } }

#roomplans-three .content-wrapper {
  line-height: 1.6;
  word-wrap: break-word; }
  #roomplans-three .content-wrapper::after {
    content: "";
    clear: both;
    display: table; }
  #roomplans-three .content-wrapper::before {
    content: "";
    clear: both;
    display: table; }
  #roomplans-three .content-wrapper p {
    line-height: 1.66;
    margin-bottom: 10px; }
    #roomplans-three .content-wrapper p span {
      font-size: 21pt;
      color: #36393D; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  counter-reset: chapter; }

footer {
  margin-top: auto; }
