.nav-btn{
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover{
        @include _button(
            $bg_color:$gold-color,
            $color:$black,
        );
    }
    @include flexible(
        flex,
        center,
        center,
        row
    );
    @include _button(
        $height:36px,
        $font_size:18px,
        $bg_color:$black,
        $color:$white,
        $padding:8px 20px,
        $border_radius:22px
    );
}
.circle-btn{
    position: absolute;
    // background: rgba(31, 43, 71, 0.44);
    backdrop-filter: blur(11px);
    line-height: 118%;
    letter-spacing: 0.42em;
    transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    &:hover{
        // background: rgba(0, 196, 208, 0.44);
        color: unset;
    }
    @include flexible(
        flex,
        center,
        center,
        row
    );
    @include _button(
        $width:155px,
        $height:155px,
        $border_radius:50%
    );
    @include textFont(
        $text_weight:500,
        $f_size:20px,
        $f_color:$white
    );
    &::before{
        position: absolute;
        content: '';
        width: 180px;
        height: 180px;
        @include border(1px solid $gold-color,50%);
    }
    &::after{
        content: url("../img/main/arrow-down.svg");
        position: absolute;
        right: 50%;
        bottom: -50px;
        transform: translateX(50%);
    }
    @media (max-width:1700px) {
        bottom: unset;
        top:35%
    }
    
}
.moving-btn{
    letter-spacing: 0.475em;
    position: relative;
    transition: all .3s ease;
    display: inline-block;
    text-decoration: none;
    z-index: 2;
    @include textFont(
        $line_height:118%,
        $f_color:$white,
    );
    &::before{
        content: url("../img/main/arrow.svg");
        right: -65px;
        top: -2px;
        position: absolute;
        transition: all .3s ease;
    }
    &::after{
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white;
        right: -80px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease;
    }
    &:hover{
        padding-left: 10px;
        &::before{
            right: -75px;
        }
    }
}