#contact{
    padding: 80px 0px;
    .contact-title-area{
        p{
            @include textFont(
                $line_height:1.66,
                $margin:0 0 10px 0,
                $text_align:center
            );
            span{
                @include textFont(
                    $f_size:18pt
                );
            }
        }
        &::before{
            content: "";
            clear: both;
            display: table;
        }
        &::after{
            content: "";
            clear: both;
            display: table;
        }
    }
    .contact-box-area{
        margin-top: 80px;
        display: flex;
        position: relative;
        .left-infos{
            width: 50%;
            @include padding(120px 80px 100px 80px);
            @include border($border-radius:0 0 0 107px);
            color: #D7DFE7;
            @include flexible(
                $flex:flex,
                $jus:space-between,
                $direction:column
            );
            background-color: $black;
            position: relative;
            .top{
                @include margin(0 0 65px 0);
                .contact-title{
                    @include textFont(
                        $f_size:39px,
                        $text_weight:600,
                        $margin:0 0 15px 0
                    );
                }
                ul{
                    @include ul(
                        $pad:0,
                        $mar:0,
                        $list-style:none,
                    );
                    @include textFont(
                        $f_size:18px
                    );
                    li{
                        @include margin(0 0 20px 0);
                        a{
                            text-decoration: none;
                            transition: all .3s ease-in-out;
                            color: inherit;
                            &:hover{
                                color: $gold-color;
                            }
                        }
                        &:nth-child(2){
                            @include textFont(
                                $text_weight:600,
                                $f_size:28px
                            );
                        }
                    }
                }
            }
            .bottom{
                @include flexible(
                    $flex:flex,
                    $aling:center
                );
                .contact-social-media{
                    @include ul(
                        $pad:0,
                        $mar: 0 40px 0 0,
                        $list-style:none
                    );
                    @include textFont(
                        $f_size:18px
                    );
                    @include flexible(
                        $flex:flex,
                        $aling:center
                    );
                    li{
                        @include margin(0 25px 0 0); 
                        a{
                            text-decoration: none;
                            color: inherit;
                            i{
                                font-size: 27px;
                            }
                        }
                    }
                }
                .contact-wp{
                    text-decoration: none;
                    color: inherit;
                    display: inline-block;
                    @include padding(10px 25px);
                    @include border(
                        1px solid #5F6A72,
                        32px 0px 25.5px 25px
                    );
                    img{
                        max-width: 100%;
                        margin-right: 10px;
                    }
                }
            }
            @media (max-width:920px) {
                width: 100%;
                padding: 40px 25px;
                border-radius: 0px;
                .top{
                    margin: 0;
                }
                .bottom{
                    flex-direction: column !important;
                    .contact-social-media{
                        margin-bottom: 15px;
                    }
                    .contact-wp{
                        width: 67%;
                    }
                }
            }
        }
        .maps{
            width: 50%;
            border-top-right-radius: 107px;
            iframe{
                width: 100%;
                height: 600px;
                margin: 0;
                padding: 0;
                display: block;
                border-top-right-radius: 107px
            }
            @media (max-width:920px) {
                width: 100%;
                border-radius: 0px;
                iframe{
                    border: 0;
                    border-radius: 0px;
                    height: 400px;
                }
            }
        }
        .map-btn{
            top: 50% !important;
            left: 44% !important;
            font-size: 18px !important;
            width: 177px;
            height: 177px;
            &:hover{
                background-color: unset !important;
                color: $white !important;
                opacity: 0.9 !important;
            }
            &::before{
                width: 190px !important;
                height: 190px !important;
            }
            @media (max-width:920px) {
                display: none;
            }
        }
        @media (max-width:920px) {
            flex-direction: column;
        }
    }
}
#contact-form-area{
    background-image: url(../img/aboutUs/contact-bg.png);
    padding: 500px 0px 140px 0px;
    margin-top: -400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .contact-form-content{
        color: $white;
        .title{
            position: relative;
            @include textFont(
                $text_weight:700,
                $f_size:32px,
                $line_height:54px,
                $padding:0 0 5px 0,
                $margin: 0 0 10px 0
            );
            &::before{
                position: absolute;
                content: "";
                width: 70px;
                height: 3px;
                background-color: $gold-color;
                bottom: 0;
                left: 0;
            }
        }
        .description{
            color: #7D8E9D;
        }
    }
    .offset-lg-1{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px; 
        .form-item{
            border: none;
            border-bottom: solid 1px $white;
            background: none;
            padding: 10px 0px;
            color: $white;
            width: 100%;
            margin-bottom: 50px;
            font-size: 15px;
            outline: none;
            &::placeholder{
                color: $white;
            }
        }
        .send-btn{
            position: relative;
            cursor: pointer;
            transition: all .3s ease-in-out;
            outline: none;
            @include _button(
                $padding:20px 50px,
                $border_radius:31px,
                $font_size:18px,
                $color:$white,
                $width:170px,
                $margin:30px 0 0 0,
                $bg_color:$gold-color
            );
            &:hover{
                background-color: $black;
            }
            img{
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        @media (min-width:992px) {
            margin-left: 8.3%;
        }
    }
   
}