.destkop-header{
    padding: 60px 0 30px 0;
    position: relative;
    z-index: 102;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        z-index: -1;
        top: 0;
    }
    .header-left{
        @include flexible(
            $flex:flex,
            $aling:center,
            $direction:row
        );
        .menu-btn{
            @include flexible(
                $flex:inline-flex,
                $aling:center
            );
            @include padding(8px 14px);
            @include border(1px solid $bg-color, 22px);
            @include textFont($f_color:$bg-color);
            @include margin(0 30px 0 0);
            @include _button($height:36px);
            cursor: pointer;
            text-decoration: none;
            img{
                max-width: 100%;
                margin-right: 10px;
            }
        }
    }
    .logo-area{
        display: block;
        text-align: center;
        img{
            max-width: 100%;
        }
    }
    .header-right{
        @include flexible(
            flex,
            flex-end,
            center,
            row
        );
        flex-wrap: wrap;
        ul{
            @include flexible(
                $flex:flex,
                $aling:center,
            );
            @include ul(
                $list-style:none,
                $pad:0,
                $mar:0
            );
            // @include margin(0 0 0 15px);
            li{
                @include margin(0 0 0 25px);
                a{
                    text-decoration: none;
                    i{
                        color: $bg-color;
                        width: 27px;
                        height: 27px;
                        font-size: 27px;
                    }
                }
            }
        }
        .whatsapp{
            @include flexible(
                inline-flex,
                center,
                center,
                row
            );
            @include _button(
                $width:41px,
                $height:41px,
                $bg_color:$bg-color,
                $border_radius:50%,
                $margin:0 0 0 30px
            );
        }
        .phone-care{
            @include textFont(
                $f_size:18px,
                $text_weight:700,
                $f_color:$bg_color,
                $margin:10px 0 0 30px
            );
            letter-spacing: 0.26em;
            text-decoration: none;
        }

    }
    @media (max-width:992px) {
        display: none;
    }
}
.mobile-header{
    #for-mob-row{
        @include padding(20px 0px);
        .mob-logo{
            max-width: 180px;
        }
        .mob-nav-right{
            @include flexible(
                flex,
                center,
                center,
                row
            );
            a{
                @include flexible(
                    flex,
                    flex-end,
                    center,
                    row
                );
                width: 100%;
                @include textFont(
                    $text_decaration:none,
                    $f_size:18px,
                    $transform:uppercase
                );
                img{
                    @include Img(
                       $margin:0 15px 0 0
                    );
                }
            }
        }
        @media (max-width:992px) {
            display: flex;
        }
        @media (min-width:992px) {
            display: none;
        }
    }
}
#index-one{
    position: relative;
    min-height: 100vh;
    z-index: 101;
    // background-color: #ddf6f7;
    .index-one-content{
        position: absolute;
        top: 10%;
        width: 45%;
        h3{
            @include textFont(
                $f_size:44px,
                $f_color:$white,
                $text_weight:400,
                $margin: 0 0 4px 0,
                $line_height:1
            );
            @media (max-width:1700px) {
                @include textFont(
                    $f_size:28px
                );
            }
        }
        h1{
            @include textFont(
                $f_size:97px,
                $text_weight:bold,
                $margin: 0 0 25px 0,
                $line_height:97%,
                $f_color:$white
            );
            @media (max-width:1700px) {
                @include textFont(
                    $f_size:60px
                );
            }
        }
        .content-desc{
            p{
                @include textFont(
                    $line_height:118%,
                    $margin:0 0 50px 0,
                    $f_color:$white,
                    $f_size:20px
                );
            }
            
        }
    }
    .index-content-btn{
        right: 5%;
        @media (min-width:1920px) {
            top:30%;
        }
    }
    .index-one-bg{
        position: absolute;
        top: -190px;
        z-index: -1;
        img{
            max-width: 100%;
            @media (min-width:1920px) {
                width: 1920px;
                object-fit: contain;
            }
        }
    }
}
#index-one-mobile{
    @media (min-width:992px) {
        display: none;
    }
    @media (max-width:992px) {
        display: block;
        a{
            img{
                width: 100%;
                min-width: 180px;
            }
        }
    }
}
#life-component{
    position: relative;
    padding-top: 180px;
    margin-top: -380px;
    z-index: 99;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        // background-color: #ddf6f7;
        // background: -webkit-gradient(linear, left top, left bottom, from(#C4F0F1), to(rgba(196, 196, 196, 0)));
        background: linear-gradient(180deg, #C4F0F1 0%, rgba(196, 196, 196, 0) 100%);
        top: 0;
        z-index: -99999;
    }
    .life-component-left{
        img{
            max-width: 100%;
        }
    }
    .right-component{
        position: relative;
        .life-component-right{
            position: absolute;
            right: 35%;
            width: 68%;
            bottom: 4%;
            text-align: center;
            .first-right-desc{
                font-style: italic;
                @include textFont(
                    $f_size:34px,
                    $f_color:$yellow-color,
                    $line_height:118%,
                    $margin:0 0 20px 0,
                    $text_weight:bold,
                    $text_align:center
                );
            }
            .second-right-desc{
                @include textFont(
                    $f_color:$black,
                    $margin:0 0 25px 0,
                    $text_align:center,
                    $text_weight:400,
                    $line_height:1.5,
                    $f_size:16px
                );
            }
            .life-component-btn{
                color: $black;
                &::before{
                    content: url("../img/main/arrow-black.svg");
                }
                &::after{
                    border: 1px solid $black !important;
                }
            }
        }
    }
    @media (max-width:992px) {
        margin-top: 0px;
        padding-top: 0px;
        &::before{
            background-color: $white;
        }
        .right-component{
            .life-component-right{
                position: unset;
                width: 100%;
                .life-component-btn{
                    display: none;
                }
            }
        }
    }
    
}
#location-area{
    position: relative;
    .location-bg{
        @media (max-width:992px) {
            display: none;
        }
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    .location-mobile-bg{
        display: none;
        @media (max-width:992px) {
            display: block;
            img{
                width: 100%;
            }
        }
    }
    .location-content{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 50%;
        text-align: center;
        .location-sub-title{
            @include textFont(
                $f_size:24px,
                $line_height:118%,
                $margin:40px 0 0 0,
                $transform:uppercase,
                $f_color:$bg-color
            );
            translate:(80px,80px);
            letter-spacing: 0.57em;
            line-height: 118%;
        }
        .location-title-area{
            font-size: 240px;
            font-family: "Allison",sans-serif;
        }
        
        @media (max-width:992px) {
            width: 100%;
            left: 0;
            top: unset;
            bottom: 0;
            .location-sub-title{
                display: none;
            }
            .location-title-area{
                font-size: 80px;
            }
            .location-desc{
                width: 100%;
                transform: unset;
            }
            .location-mobile-bg{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
    .location-desc{
        width: 70%;
        @include textFont(
            $f_size:20px,
            $f_color:$bg-color
        );
        transform: translateX(20%);
    }
    .location-btn{
        position: absolute;
        font-size: 16px !important;
        top: unset  !important;
        right: 20% !important;
        bottom: 30% !important;
        &::after{
            content: url("../img/main/right-ok.svg") !important;
            bottom: 40px !important;
        }
        @media (max-width:992px) {
            display: none;
        }
    }
}
#location-map{
    .location-map--wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 1.5em;
        .location-map__left{
            display: grid;
            gap: 1rem;
            
        }
        .location-map__center{
            overflow: hidden;
            border-radius: 3.25rem;
            display: block;
            margin-top: 1rem;
            iframe{
                width: 100%;
                height: 100%;
            }
            @media (max-width:1200px) {
                display: none;
            }
        }
        .location-map__right{
            display: grid;
            gap: 1rem;
        }
        @media (max-width:1200px) {
            gap: 4.5em;
        }
    }
}
