.destkop-header{
    padding: 30px 0 17px 0;
    position: relative;
    z-index: 102;
    background-color: $white;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        // background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        z-index: -1;
        top: 0;
    }
    .header-left{
        @include flexible(
            $flex:flex,
            $aling:center,
            $direction:row
        );
        .menu-btn{
            @include flexible(
                $flex:inline-flex,
                $aling:center
            );
            @include padding(8px 14px);
            @include border(1px solid $bg-color, 22px);
            @include textFont($f_color:$bg-color);
            @include margin(0 30px 0 0);
            @include _button($height:36px);
            cursor: pointer;
            text-decoration: none;
            img{
                max-width: 100%;
                margin-right: 10px;
            }
        }
    }
    .logo-area{
        display: block;
        text-align: center;
        img{
            max-width: 100%;
        }
    }
    .header-right{
        @include flexible(
            flex,
            flex-end,
            center,
            row
        );
        flex-wrap: wrap;
        ul{
            @include flexible(
                $flex:flex,
                $aling:center,
            );
            @include ul(
                $list-style:none,
                $pad:0,
                $mar:0
            );
            // @include margin(0 0 0 15px);
            li{
                @include margin(0 0 0 25px);
                a{
                    text-decoration: none;
                    i{
                        color: $bg-color;
                        width: 27px;
                        height: 27px;
                        font-size: 27px;
                    }
                }
            }
        }
        .whatsapp{
            @include flexible(
                inline-flex,
                center,
                center,
                row
            );
            @include _button(
                $width:41px,
                $height:41px,
                $bg_color:$bg-color,
                $border_radius:50%,
                $margin:0 0 0 30px
            );
        }
        .phone-care{
            @include textFont(
                $f_size:18px,
                $text_weight:700,
                $f_color:$bg_color,
                $margin:10px 0 0 30px
            );
            letter-spacing: 0.26em;
            text-decoration: none;
        }

    }
    @media (max-width:992px) {
        display: none;
    }
}
.mobile-header{
    position: relative;
    #for-mob-row{
        @include padding(20px 0px);
        .mob-logo{
            max-width: 180px;
        }
        .mob-nav-right{
            @include flexible(
                flex,
                center,
                center,
                row
            );
            a{
                @include flexible(
                    flex,
                    flex-end,
                    center,
                    row
                );
                width: 100%;
                @include textFont(
                    $text_decaration:none,
                    $f_size:18px,
                    $transform:uppercase
                );
                img{
                    @include Img(
                       $margin:0 15px 0 0
                    );
                }
            }
        }
        @media (max-width:992px) {
            display: flex;
        }
        @media (min-width:992px) {
            display: none;
        }
    }
}
.sidebar-bg{
    background-color: $black;
    opacity: 0.5;
    position: fixed;
    // left: 0;
    left: -100%;
    transition: all 0.3s ease-in-out;
    z-index: 99999;
}
.sidebar{
    position: fixed;
    // left: 0;
    left: -100%;
    width: 50%;
    // height: 100vh;
    // background-color: red;
    z-index: 99999;
    transition: all .3s ease-in-out;
    .modal-dialog{
        max-width: 800px;
        height: auto;
        border-top-right-radius: 70px;
        .modal-content{
            border-top-right-radius: 70px;
            padding: 90px 120px;
            // min-height: 100vh;
            // height: 100%;
            background-size: cover;

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: 0;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, #0065B8 0%, #203E65 100%);
                opacity: 0.93;
                border-top-right-radius: 69px;
            }
            &::after{
                position: absolute;
                content: url(../img/main/bg-dark.svg);
                bottom: 0;
                left: 0;
            }
            .btn-close{
                position: absolute;
                top: 50%;
                right: -50px;
                transform: translateY(-50%);
                transform: rotate(45deg);
                border: 1px solid #43B5E4;
                width: 100px;
                height: 100px;
                background: none;
                border-radius: 50%;
                color: white;
                font-size: 24px;
                cursor: pointer;
            }
            .modal-body{
                position: relative;
                flex: 1 1 auto;
                padding: 1rem;
                .modal-menu{
                    @include textFont(
                        $f_color:$white,
                        $text_weight:700,
                        $f_size:38px
                    );
                    li{
                        @include margin(0 0 20px 0);
                        position: relative;
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: $white;
                            transition: all .25s ease-in-out;
                            &:hover{
                                color: $white;
                                padding-left: 10px;
                            }
                        }
                        &::before{
                            content: "0" counter(chapter);
                            counter-increment: chapter;
                            color: #A4CAEB;
                            font-size: 16px;
                            position: absolute;
                            transform: translateY(-50%) rotate(-90deg);
                            left: -25px;
                            top: 65%;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            left: -18px;
                            top: 6px;
                            height: 15px;
                            width: 2px;
                            background: #43AAFF;
                        }
                    }
                }
                .bottom-info{
                    @include flexible(
                       $flex:flex,
                        $aling:center,
                    );
                    margin-top: 30px;
                    a{
                        text-decoration: none;
                        display: inline-block;
                        padding: 15px 30px;
                        margin-right: 30px;
                        color:$white;
                        border: 1px solid  $white;
                        border-radius: 32px 25px 0 25px;
                        transition: all .3s ease-in-out;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
                .social-media{
                    @include flexible(
                        $flex:flex,
                        $aling:center,
                    );
                    list-style: none;
                    margin-top: 60px;
                    li{
                        margin-right: 25px;
                        a{
                            transition: all .3s ease-in-out;
                            color: $white;
                            &:hover{
                                opacity: 0.7;
                            }
                            i{
                                font-size: 27px;
                            }
                        }
                    }
                }
            }
        }

    }
    @media (max-width:992px) {
        display: none;
    }
}
.sidebar-active{
    left: 0 !important;
    @media (max-width:992px) {
        display: none;
    }
}
.sidebar-mobile{
    position: absolute;
    opacity: 0;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url("../img/aboutUs/form-arkaplan_1.png");
    transition: all 0.3s ease-in-out;
    .mobile-body{
        padding: 40px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        height: 87%;
        justify-content: space-between;

    }
    .sidebar-mobile-header{
        padding: 30px;
        display: flex;
        justify-content: flex-end;
        button{
            outline: none;
            background: none;
            border: none;
            color: $white;
        }
    }
    .mobil-menu{
        @include ul(
            $pad:0 0 0 0px,
            $mar:0,
            $list-style:none,
        );
        li{
           @include margin(0 0 14px 0); 
           a{
                text-decoration: none;
                color: $white;
                transition: all .3s ease-in-out;
                font-size: 18px;
                &:hover{
                    color: $bg-color;
                    opacity: 0.9;
                }
           }
        }
    }
    .bottom-area{
        .bottom-logo{
            @include flexible(
            flex,
            center,
            center,
            row
        );
        img{
            max-width: 139px;
        }
        }
        .copyright{
            color: $white;
            text-align: center;
            @include margin(15px 0 0 0);
        }
        .mobile-social-media{
            @include ul(
                $pad:0,
                $mar:15px 0 0 0,
                $list-style:none
            );
            @include flexible(
                flex,
                center,
                center,
                row
            );
            li{
                &:nth-child(1){
                    @include margin(0 15px 0 0);
                }
                a{
                    text-decoration: none;
                    i{
                        color: $white;
                    }
                }
               
            }
        }
    }
    @media (min-width:992px) {
        display: none;
    }
}
.sidebar-mobile-active{
    left: 0 !important;
    opacity: 1;
}
#index-one{
    position: relative;
    min-height: 100vh;
    z-index: 101;
    // background-color: #ddf6f7;
    margin-top: 10%;
    .index-one-content{
        position: absolute;
        top: 10%;
        width: 45%;
        h3{
            @include textFont(
                $f_size:44px,
                $f_color:$white,
                $text_weight:400,
                $margin: 0 0 4px 0,
                $line_height:1
            );
            @media (max-width:1700px) {
                @include textFont(
                    $f_size:28px
                );
            }
        }
        h1{
            @include textFont(
                $f_size:97px,
                $text_weight:bold,
                $margin: 0 0 25px 0,
                $line_height:97%,
                $f_color:$white
            );
            @media (max-width:1700px) {
                @include textFont(
                    $f_size:60px
                );
            }
        }
        .content-desc{
            p{
                @include textFont(
                    $line_height:118%,
                    $margin:0 0 50px 0,
                    $f_color:$white,
                    $f_size:20px
                );
            }
            
        }
    }
    .index-content-btn{
        right: 5%;
        @media (min-width:1920px) {
            top:30%;
        }
    }
    .index-one-bg{
        position: absolute;
        top: -190px;
        z-index: -1;
    background: linear-gradient(360deg, rgba(255, 241, 225, 0.45) 7.75%, rgba(196, 196, 196, 0) 100%);

        // &::before{
        //     position: absolute;
        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     background-color: black;
        //     opacity: 0.4;
        //     z-index: 3;
        // }
        img{
            max-width: 100%;
            width: 100vw;
            object-fit: contain;
            position: relative;
            display: block;
            @media (min-width:1920px) {
                width: 1920px;
                object-fit: contain;
            }
            
        }
    }
    @media (max-width:992px) {
        display: none;
    }
}
#index-one-mobile{
    @media (min-width:992px) {
        display: none;
    }
    @media (max-width:992px) {
        display: block;
        a{
            img{
                width: 100%;
                min-width: 180px;
            }
        }
    }
}
#index-two{
    padding-top: 81px;
    background: linear-gradient(180deg, rgba(255, 241, 225, 0.45) 7.75%, rgba(196, 196, 196, 0) 100%);
    margin-top: -152px;
    .welcome{
        @include textFont(
            $text_weight:400,
            $f_size:14px,
            $line_height:20px,
        );
    }
    .index-write-side{
        h3{
            font-family: "Island Moments", sans-serif;
            @include textFont(
                $text_weight:400,
                $f_size:72px,
                $line_height:72px,
                $f_color:$gold-color
            );
        }
        h2{
            @include textFont(
                $text_weight:300,
                $f_size:66.72px,
                $line_height:66.72px,
                $f_color:$black,
                $margin: 0 0 38px 0
            );
        }
        p{
            @include textFont(
                $text_weight:200,
                $f_size:24px,
                $line_height:32.4px
            );
            
        }
        .p-two{
            @include textFont(
                $text_weight:400,
                $f_size:16px,
                $line_height:24px,
                $margin:24px 0 0 0
            );
        }
    }
    .index-two-img_side{
        @include flexible(
            $flex:flex,
            $jus:center
        );
        img{
            max-width: 100%;
            object-fit: contain;
        }
    }
}
#life-component{
    position: relative;
    padding-top: 180px;
    // margin-top: -380px;
    z-index: 99;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        // background-color: #ddf6f7;
        // background: -webkit-gradient(linear, left top, left bottom, from(#C4F0F1), to(rgba(196, 196, 196, 0)));
        background: linear-gradient(360deg, rgba(255, 241, 225, 0.45) 7.75%, rgba(196, 196, 196, 0) 100%);
        top: 0;
        z-index: -99999;
    }
    .life-component-left{
        img{
            max-width: 100%;
        }
    }
    .right-component{
        position: relative;
        .life-component-right{
            position: absolute;
            right: 35%;
            width: 68%;
            bottom: 4%;
            text-align: center;
            .first-right-desc{
                font-style: italic;
                @include textFont(
                    $f_size:34px,
                    $f_color:$yellow-color,
                    $line_height:118%,
                    $margin:0 0 20px 0,
                    $text_weight:bold,
                    $text_align:center
                );
            }
            .second-right-desc{
                @include textFont(
                    $f_color:$black,
                    $margin:0 0 25px 0,
                    $text_align:center,
                    $text_weight:400,
                    $line_height:1.5,
                    $f_size:16px
                );
            }
            .life-component-btn{
                color: $black;
                &::before{
                    content: url("../img/main/arrow-black.svg");
                }
                &::after{
                    border: 1px solid $black !important;
                }
            }
        }
    }
    @media (max-width:992px) {
        margin-top: 0px;
        padding-top: 0px;
        &::before{
            background-color: $white !important;
            background: unset;
        }
        .right-component{
            .life-component-right{
                position: unset;
                width: 100%;
                .life-component-btn{
                    display: none;
                }
            }
        }
    }
}
#location-area{
    position: relative;
    .location-bg{
        @media (max-width:992px) {
            display: none;
        }
        img{
            max-width: 100%;
            width: 100%;
        }
    }
    .location-mobile-bg{
        display: none;
        @media (max-width:992px) {
            display: block;
            img{
                width: 100%;
            }
        }
    }
    .location-content{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 50%;
        text-align: center;
        .location-sub-title{
            @include textFont(
                $f_size:24px,
                $line_height:118%,
                $margin:40px 0 0 0,
                $transform:uppercase,
                $f_color:$bg-color
            );
            translate:(80px,80px);
            letter-spacing: 0.57em;
            line-height: 118%;
        }
        .location-title-area{
            font-size: 240px;
            font-family: "Allison" , sans-serif;
        }
        
        @media (max-width:992px) {
            width: 100%;
            left: 0;
            top: unset;
            bottom: 0;
            .location-sub-title{
                display: none;
            }
            .location-title-area{
                font-size: 80px;
            }
            .location-desc{
                width: 100%;
                transform: unset;
            }
            .location-mobile-bg{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
    .location-desc{
        width: 70%;
        @include textFont(
            $f_size:20px,
            $f_color:$bg-color
        );
        transform: translateX(20%);
    }
    .location-btn{
        position: absolute;
        font-size: 16px !important;
        top: unset  !important;
        right: 20% !important;
        bottom: 30% !important;
        &::after{
            content: url("../img/main/right-ok.svg") !important;
            bottom: 40px !important;
        }
        @media (max-width:992px) {
            display: none;
        }
    }
}
#location-map{
    .location-map--wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 1.5em;
        .location-map__left{
            display: grid;
            gap: 1rem;
            
        }
        .location-map__center{
            overflow: hidden;
            border-radius: 3.25rem;
            display: block;
            margin-top: 1rem;
            iframe{
                width: 100%;
                height: 100%;
            }
            @media (max-width:1200px) {
                display: none;
            }
        }
        .location-map__right{
            display: grid;
            gap: 1rem;
        }
        @media (max-width:1200px) {
            gap: 4.5em;
        }
    }
}
.about-us{
    padding: 200px 0;
    .about-us__wrapper{
        display: grid;
        grid-template-columns: calc(55%) calc(45% - 10px);
        gap: 10px;
        align-items: center; 
        @media (max-width:1200px) {
            grid-template-columns: 100%;
            grid-template-rows: auto;
        }
        .about-us__left{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                display: inline-block;
                height: 124px;
                width: 190px;
                // background: url(../images/izmir.html);
                background-size: contain;
                z-index: 2;
                background-repeat: no-repeat;
            }
            @media (max-width:992px) {
                margin-bottom: 48px;
                &::before{
                    top: unset;
                    bottom: 0;
                    left: 50%;
                    -webkit-transform: translate(-50%, 65%);
                    transform: translate(-50%, 65%); 
                }
            }
        }
        .about-us__right{
            position: relative;
            padding-right: 160px;
            padding-top: 25px;
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100vw;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background: #0d1520;
                border-radius: 0px 190px 190px 0px;
                z-index: -1;
            }
            @media (max-width:992px) {
                &::before {
                    background-color: unset;
                }
            }
            .about-us-right-swiper{
                @include flexible(
                    flex,
                    center,
                    flex-end,
                    column
                );
                text-align: end;
                gap: 14px;
                .swiper-slide{
                    .title{
                        font-size: 24px;
                        color: #43aaff;
                        line-height: 28px;
                        max-width: 340px;
                        b{
                            display: block;
                            font-size: 57px;
                            font-weight: 700;
                            line-height: 67px;
                        }
                    }
                    .text{
                        color: $white;
                    }
                }
            }
            .about-us__right__nav{
                @include flexible(
                    flex,
                    center,
                    center,
                    row
                );
                gap:22px;
                position: relative;
                .btn-group{
                    @include flexible(
                        flex,
                        center,
                        center,
                        row
                    );
                    gap: 22px;
                    .btn{
                        background: none;
                        cursor: pointer;
                        outline: none;
                    }
                    .btn--next{
                        margin-top:75%;
                    }
                    @media (max-width:1200px) {
                        margin-right: unset;
                    }
                }
                .about-us-fraction{
                    position: absolute;
                    right: -50px;
                    top: 50%;
                    left: unset;
                    font-size: 28px;
                    color: #43aaff;
                    width: auto;
                    .swiper-pagination-current{
                        font-size: 85px;
                        color: #43aaff;
                        &::before{
                            content: "0";
                        }
                    }
                    .swiper-pagination-total{
                        font-size: 36px;
                        line-height: 54px;
                        color: #43aaff; 
                        &::before{
                            content: "0";
                        }
                    }
                }
                @media (max-width:992px) {
                    @include flexible(
                        $direction:column
                    );
                    gap: 28px;
                    .about-us-fraction{
                        right: 5%;
                    }
                }
            }
        }

    }
    @media (max-width:992px) {
        display: none;
    }
}
#picture-gallery{
    padding: 200px 0px;
    position: relative;
    overflow: hidden;
    .gallery-slider{
        position: relative;
        padding: 30px 0px;
        .swiper-slide{
            .gallery-box{
                width: 100%;
                transition: all 3s ease;
                img{
                    width: 100%;
                    transition: all 1s ease; 
                }
            }
        }
        .swiper-slide-active{
            .gallery-box{
                img{
                    border-radius: 0 30px 30px 0px;
                }
            }
        }
        .swiper-slide-duplicate-prev{
            .gallery-box{
                img{
                    border-radius: 0 30px 30px 0px;
                }
            }
        }
        .swiper-slide-next{
            .gallery-box{
                transform: scale(1.1);
                img{
                    border-radius: 30px;
                }
            }
        }
        
        &::before{
            position: absolute;
            content: "Hayatı Keşfet";
            z-index: 3;
            font-size: 234px;
            line-height: 118%;
            font-family: 'Allison' ,sans-serif;
            width: 100%;
            text-align: center;
            @include flexible(
                flex,
                center,
                center,
                row
            );
            height: 100%;
            color: $white;
            pointer-events: none;
            transform: translateY(-30px);
        }
        @media (max-width:992px) {
            &::before{
                font-size: 62px;
            }
            .swiper-slide{
                img{
                    border-radius: 30px;
                }
            }
            .swiper-slide-next{
                .gallery-box{
                    transform: scale(1);
                }
            }
            .swiper-slide-active{
                .gallery-box{
                    img{
                        border-radius: 30px;
                    }
                }
            }
            .swiper-slide-duplicate-prev{
                .gallery-box{
                    img{
                        border-radius: 30px;
                    }
                }
            }
        }
    }
    .gallery-button-prev{
        position: absolute;
        width: 80px;
        height: 80px;
        background-color: $bg-color;
        @include flexible(
            flex,
            center,
            center,
            row
        );
        border-radius: 50%;
        top: 50%;
        z-index: 9;
        left: 100px;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            opacity: 0.8;
        }
        @media (max-width:992px) {
            left: 0%;
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }

        }
    }
    .gallery-button-next{
        position: absolute;
        width: 80px;
        height: 80px;
        background-color: $bg-color;
        @include flexible(
            flex,
            center,
            center,
            row
        );
        border-radius: 50%;
        top: 50%;
        z-index: 9;
        right: 100px;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s ease;
        &:hvoer{
            opacity: 0.8;
        }
        @media (max-width:992px) {
            left: 89%;
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }

        }
    }
    .all-btn{
        left: 45%  !important;
        bottom: 80px !important;
        top: unset !important;
        z-index: 9;
        background-color: $bg-color !important;
        &:hover{
            background-color: unset !important;
            opacity: 0.8 !important;
        }
        
    }
    @media (max-width:992px) {
        padding: 50px 15px 150px 15px;
        .all-btn{
            width: 150px  !important;
            height: 150px !important;
            left: 29% !important;
            bottom: 54px !important;
        }    
    }
    @media (max-width:1400px) {
        padding: 100px 0px; 
    }
}
footer{
    .footer-up{
        background-color: #f7fafc;
        padding: 60px 0px 50px 0px;
        .footer__top--wrapper{
            padding: 15px 0 15px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            gap: 29px;
            background-image: url(../img/main/footer-bg.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
            .social-side{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    margin-right: 25px;
                    list-style: none;
                    &:last-child{
                        margin: 0;
                    }
                    a{
                        color: $bg-color;
                        i{
                            font-size: 27px;
                        
                        }
                    }
                }

            }
            .phone-link{
                color: #8FA1B9;
                font-weight: 700;
                font-size: 18px;
                line-height: 118%;
                letter-spacing: 0.26em;
                text-decoration: none;
            }
        }
    }
    .footer-bottom{
        .footer__bottom--wrapper{
            @include flexible(
                flex,
                center,
                center,
                row
            );
            padding: 15px 0px;
            .footer-bottom-menu{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-right: 100px;
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 14px;
                        color: #98A3AC;
                    }
                    margin-left: 50px;
                }
            }
            .ctp{
                display: flex;
                gap: 13px;
                color: #98a3ac;
                font-size: 14px;
                text-decoration: none;
            }
            @media (max-width:992px) {
                flex-direction: column;
                .footer-bottom-menu{
                    margin-right: 0px;
                    text-align: center;
                    flex-direction: column;
                    padding: 0;
                    li{
                        margin: 0;
                    }
                }
            }
        }
    }
   
}