@import "./mixin.scss";
@import "./variable.scss";
@import "./buttons.scss";
@import "./cards.scss";
@import "home.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
footer{
    margin-top: auto;
}