#roomplans-three{
    padding: 80px 0 200px 0;
    .content-wrapper{
        line-height: 1.6;
        word-wrap: break-word;
        margin-bottom: 60px;
        &::before{
            content: "";
            clear: both;
            display: table;
        }
        &::after{
            content: "";
            clear: both;
            display: table;
        }
        p{
            line-height: 1.66;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 400;
            a{
                text-decoration: none;
                color: $bg-color;
            }
            &:last-child{
                font-size: 14pt;
            }
        }
    }
    .tab{
        overflow: hidden;
        ul{
            list-style: none;
            .room-btn{
                @include flexible(
                    inline-flex,
                    center,
                    center,
                    row
                );
                @include margin(0 0 20px 0);
                @include border(1px solid $gold-color, 23px);
                color: $gold-color;
                width: 160px;
                height: 160px;
                max-width: 100%;
                text-align: center;
                transition: all .4s ease-in-out;
                @include textFont(
                    $f_size:18px,
                    $padding:50px 40px,
                    $line_height:118%,
                    
                );
                &:hover{
                    cursor: pointer;
                }
                @media (max-width:992px) {
                    float: left;
                    width: calc(50% - 21px);
                    height: 45px;
                    padding: 10px;
                    font-size: 16px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
            .room-btn-active{
                color: $gold-color;
                background-color: $black;
            }
            @media (max-width:992px) {
                padding: 0;
            }
        }
    }
    .tabcontent{
        display: none;
        padding: 40px;
        background-color: #DFE8EF;
        transition: .3s ease-in-out;
        border-radius: 48px;
        position: relative;
        .tab-item{
            // position: relative;
            .left-side{
                position: relative;
                z-index: 5;
                img{
                    max-width: 100%;
                }
            }

            .roomplans-detail{
                color: $bg-color;
                position: relative;
                z-index: 5;
                .name{
                    font-size: 19px;
                }
                .size{
                    font-size: 17px;
                }
                .title{
                    @include flexible(
                        flex,
                        space-between,
                        center,
                        row
                    );
                    @include padding(0 0 10px 0);
                    @include margin(0 0 20px 0);
                    border-bottom: solid 2px $bg-color;
                    .number{
                        font-size: 36px;
                    }
                    .size{
                        font-size: 18px;
                    }
                   
                }
                ul{
                    margin: 0;
                    padding: 0;
                    margin-bottom: 50px;
                    list-style: none;
                    li{
                        @include flexible(
                            flex,
                            space-between,
                            center,
                            row
                        );
                        @include margin(0 0 15px 0);
                    }
                }
                .end-size{
                    @include flexible(
                        flex,
                        space-between,
                        center,
                        row
                    );
                    font-weight: 700;

                }
            }
            .place-size{
                position: absolute;
                bottom: -47px;
                right: -39%;
                color: $bg-color;
                font-weight: 600;
                font-size: 146px;
                z-index: 5;
                @media (max-width:992px) {
                    display: none;
                }
            }
        }
    }
    .active-tab{
        display: block !important;
    }
}